
.about {
    width: 100%;
    padding: 4rem 2rem;
    margin-top: -2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.about-content {
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1px 3px -2px black;
    border-radius: 12px;
    background-color: #fff;
    margin-top: 2rem;
    position: relative;

}

.line {
    height: 12px;
    width: 11rem;
    background-color: #2f9f0a;
    position: absolute;
    top: 1rem;
    right: 2rem;
    border-radius: 6px;
}

.about-description {
    font-size: 1.3rem;
    color: #333;
    line-height: 1.6;
    font-weight: 500;
    margin-top: 2rem;
    text-align: center;
}


@media (max-width: 768px) {
    .about-content {
        padding: 1rem;
    }

    .line {
        width: 60px;
        height: 4px;
        top: 0.5rem;
        right: 1rem;
    }

    .about-description {
        font-size: 1.05rem;
        text-align: left;
    }
}