.success-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

.dotted-line {
  position: relative;
  height: 20px;
  margin-top: 3rem;
  margin-bottom: 50px;

}

.big-dot {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 16px;
  background-color: #2f9f0a;
  border-radius: 50%;
  z-index: 2;
}

.small-dot {
  position: absolute;
  top: -4px;
  width: 10px;
  height: 10px;
  background-color: #2f9f0a;
  border-radius: 50%;
  z-index: 1;
}

.left-1 {
  left: calc(50% - 40px);
}

.left-2 {
  left: calc(50% - 80px);
}

.left-3 {
  left: calc(50% - 120px);
}

.right-1 {
  left: calc(50% + 40px);
}

.right-2 {
  left: calc(50% + 80px);
}

.right-3 {
  left: calc(50% + 120px);
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-width: 1200px;
  height: 300px;
  width: 100%;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  max-width: 300px;
  flex: 1 1 250px;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}


.employee-icon {
  margin-top: 1.5rem;
  margin-bottom: 6rem;
  text-align: center;

}


.employee-icon i {
  font-size: 5rem;

}

.testimonial-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.8rem;
  padding: 0 1rem;
}

.success-cards-container .rating-star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 5px;
  color: #f5a623;
  font-size: 20px;
  flex-direction: row;
}


@media (max-width: 768px) {
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }
}